<h1>CPI310's amazing message board</h1>

<ul>
  {{#each messages}}
  <li {{#if isByMyself}}class="li-right"{{/if}}>
    <span class="message-bubble {{#if isByMyself}}self-bubble{{/if}}">
      <a href="/user/{{author}}">{{author}}</a>: {{text}}
    </span>
  </li>
  {{/each}}
</ul>

{{#if user}}
<form id='message-form' action="/message" method="post">
  <label for="messageInput">message</label>
  <input id="messageInput" name="message" />
  <button type="submit">send</button>
</form>
{{else}}
<p>log in to send a message</p>
<a href="/login">login</a>
<a href="/register">register</a>
{{/if}}