<h1>CPI310's amazing message board</h1>

<ul>
  {{#each messages}}
  <li><span class="message-bubble">{{author}}: {{text}}</span></li>
  {{/each}}
</ul>

{{#if user}}
<form id='message-form' action="/message" method="post">
  <label for="messageInput">message</label>
  <input id="messageInput" name="message" />
  <button type="submit">send</button>
</form>
{{else}}
<a href="/login">login</a>
<a href="/register">register</a>
{{/if}}