<h1>Login</h1>
<form method="post" action="/login">
  <div>
    <label for="usernameInput">username</label>
    <input id="usernameInput" type="text" name="username" />
  </div>
  <div>
    <label for="passwordInput">password</label>
    <input id="passwordInput" type="password" name="password" />
  </div>

  <button type="submit">login</button>
</form>

<a href="/">home</a>