<h1>Register</h1>
<form method="post" action="/register">
  <div>
    <label for="usernameInput">username</label>
    <input id="usernameInput" type="text" name="username" />
  </div>
  <div>
    <label for="passwordInput">password</label>
    <input id="passwordInput" type="password" name="password" />
  </div>
  <div>
    <label for="confirmPasswordInput">confirm password</label>
    <input id="confirmPasswordInput" type="password" name="confirmPassword" />
  </div>

  <button type="submit">create account</button>
</form>